[Unit]
Description=Port-Knocking Daemon
After=network.target

[Service]
ExecStartPre=/usr/bin/sleep 15
ExecStart=/usr/bin/knockd -i wlan1 -c /etc/knockd-wlan1.conf

[Install]
WantedBy=multi-user.target
